@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Roboto", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply !text-secondary;
}
body {
  max-width: 1500px !important;
  margin: 0 auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

button,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}
h6 {
  @apply text-lg;
}

.respPx20 {
  @apply 900px:px-20 700px:px-16 550px:px-10 400px:px-5 px-3;
}
.transitional {
  @apply transition-all duration-300 ease-in-out;
}
.transitional:hover {
  @apply transition-all duration-300 ease-in-out;
}
.resp3ColGrid {
  @apply grid 1000px:grid-cols-3 650px:grid-cols-2 grid-cols-1;
}
.resp4ColGrid {
  @apply grid 950px:grid-cols-4 750px:grid-cols-3 500px:grid-cols-2 grid-cols-1;
}

.btn {
  @apply font-medium p-2 px-4  rounded border transition-all shadow duration-300 ease-in-out;
}
.btn-lg {
  @apply !p-3 !px-6;
}
.btn-primary {
  @apply bg-gradient-to-r hover:bg-gradient-to-l from-primary-300 to-primary  !text-white border-primary-300 disabled:from-neutral-400 disabled:to-neutral-400;
}

.inputIcon {
  @apply absolute top-1/2 -translate-y-1/2 right-5;
}
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
.productCardImage:hover .productCardImageHover {
  @apply top-[70%] opacity-100;
}
.productCardImage:hover .productImage1 {
  opacity: 0;
}
.productCardImage .productImage2 {
  opacity: 0;
}
.productCardImage:hover .productImage2 {
  opacity: 1;
}
.categoryCard:hover a {
  @apply text-primary;
}

.image-zoom-container {
  background-size: 130%;
}
/* Scrollbar container */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar for horizontal scroll */
}

.smallScrollBar::-webkit-scrollbar {
  @apply size-1;
}
/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
  border-radius: 10px;
}

/* Scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
  @apply bg-neutral2 border-2 border-neutral2 rounded-lg;
}

/* Scrollbar thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral2-400;
}

/* input:invalid {
  @apply border-primary;
} */
/* input:valid {
  @apply border-green-500;
} */
input:user-valid {
  @apply border-green-500;
}
input:user-invalid {
  @apply border-primary;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
